html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 22px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.container>.child {
    width: 50%;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    margin-top: -25px;
    background-color: #2C2F33;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .6), 0 0 2px 0 rgba(0, 0, 0, .5);
}

.container>.child>div {
    color: #FFF;
    width: 100%;
    text-align: center;
}

a {
    color: lightblue;
    text-decoration: none;
}

.addspace {
    padding: 12px 0px;
}

.smalltext {
    font-size: 12px;
}